.header {
    background-color: rgba(255,255,255,0);
    position: fixed;
    transition: 0.3s;
    top: 0;
    transform: all .7s;
    width: 100%;
    z-index: 11;
}

.headerWrap {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.headerWrap.active {
    color:#f8ae00;
}

.header a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 15px;
    color: #1f0002;
}

.header a:hover {
    transition: 0.3s;
    background-color: #1f0002;
    color: #f8ae00;
}

.header.active a:hover {
    transition: 0.3s;
    background-color: #f8ae00;
    color: #1f0002;
}

.header nav ul li a {
    text-decoration: none;
    color: #1f0002;
}

.header.active {
    background-color: #1f0002;
}

.header.active nav ul li a {
    color: #f8ae00;
}

.header.active a{
    color: #f8ae00;
}

ul, li {
    display: flex;
}